.Navbar {
  padding: 5px;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: "Segoe UI";
  background-color: #d2d2d2;
  color: #665f50;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.NavBar:hover {
  background-color: #d2d2d2;
  color: black;
}

.link {
  margin-right: 30px;
  text-decoration: none;
  color: #091610;
  font-size: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: bold;
}

.link:hover {
  margin-right: 40px;
  text-decoration: none;
  color: #166d50;
  /* font-size: larger; */
}

.logout {
  background: linear-gradient(to right, rgb(241, 241, 241), rgb(45, 25, 48));
  color: black;
  font-size: 15px;
  font-weight: 500;
  width: 150px;
  margin-top: 10px;
  /* margin-bottom: 0px; */
  cursor: pointer;
  transition: all 0.5s ease;
}

.logout:hover {
  background: linear-gradient(to left, rgb(241, 241, 241), rgb(240, 122, 141));
}
