.main-footer {
  display: grid;
  grid-template-columns: (3, 130);
  background-color: #40367c;
  color: white;
  justify-content: space-between;
  text-align: -webkit-left;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.main-link {
  font-size: medium;
  font-weight: bolder;
  margin-bottom: 0px;
}
.sub-links {
  font-size: x-small;
}

@media (max-width: 535px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(1, 230px);
    justify-content: center;
  }
}

@media (min-width: 535px) and (max-width: 767px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(2, 230px);
  }
}

@media (min-width: 767px) {
  .main-footer {
    display: grid;
    grid-template-columns: repeat(3, 230px);
  }
}
